@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  background-color: black; /* Ensures the background is black */
  color: white; /* Sets the text color to white for visibility */
  overflow-x: hidden;
  width: 100%;
}
body {
  overflow-y: hidden !important;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

.products {
  width: 100%
}

#boxes {
  overflow: hidden;
  overflow-y: hidden;
}