@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  background-color: black; /* Ensures the background is black */
  color: white; /* Sets the text color to white for visibility */
  height: fit-content;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

.products {
  width: 100%
}